@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: DM;
  src: url(../public/DM_SANS/DMSans-VariableFont.ttf);
}

*{
  margin:0;
  font-family: DM;
}

nav{
  z-index: 10;
}

body{
  font-family: DM;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #111827;
  width: 100vw;
}
main{
  width: 100%;
}

.pgrowth{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 25px;
}

.holsgrid{
  padding: 2%;
  width: 100%;
  gap: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
}


.elegrid{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  gap: 20px;
  padding: 2%;
}
.whyengrid{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
}


@media(max-width:400px){
  .holsgrid{
    display: flex;
    flex-direction: column;
  }
  
  .whyengrid{
    display: flex;
    flex-direction: column;
  }

  .whyengrid div{
    width: 100%;
  }
  
}

@media(max-width:500px){
  .elegrid{
    display: flex;
    flex-direction: column;
  }
  .elegrid div{
    width: 100%;
  }
}


.link:hover{
  background-color: hsla(0, 100%, 100%, 0.1);
}